li {
	display: inline;
	padding-left: 5.65em
}


ul{
	text-align:"center"
}


.logo {
	text-align: center;
}


.Book { 
	padding: 10px;
	background-color: #CC5F4B;
	color: white;
	background-image: #CC5F4B;
}


p {
	font-family: "PT Sans";
}


a {
    color: black;
    text-decoration: none;
}


.link:hover { color: blue; }


input { width: 100%; height: 30px;

}

.spacing {
	margin-top:-15px;
}

